@model Entidades.Negocio.Seguro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seguro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValAsegurado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValAsegurado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tasa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tasa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimaSeguro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaSeguro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPolizaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPolizaNavigation.IdPoliza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdVehiculoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdVehiculoNavigation.IdVehiculo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSeguro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
