@model Entidades.Negocio.Poliza

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poliza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCoverturaI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCoverturaI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaCoverturaF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCoverturaF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumPoliza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumPoliza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Factura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Factura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotValAsegurado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotValAsegurado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotValPrima)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotValPrima)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPersonaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPersonaNavigation.IdPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPoliza">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
