@model Entidades.Negocio.Siniestro

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Siniestro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallePrincipal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallePrincipal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CalleSecundaria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CalleSecundaria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdVehiculoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdVehiculoNavigation.IdVehiculo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSiniestro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
