@model Entidades.Negocio.Login

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCambio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCambio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPerfilNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPerfilNavigation.IdPerfil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdPersonaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPersonaNavigation.IdPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLogin">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
