@model IEnumerable<Entidades.Negocio.Login>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCambio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPerfilNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCambio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPerfilNavigation.IdPerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaNavigation.IdPersona)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLogin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLogin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLogin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
